{% extends 'base.html' %}

{% block title %}Blog Post{% endblock title %}

{%block body%}
<div class="container my-4">
    <div class="jumbotron">
        <h1 class="display-4" style="color:#5cb3b2;">{{post.title}}</h1>
        <h6 class="text-muted">{{post.title}} by {{post.author}}</h6>
        <hr class="my-4">
        <p class=" lead my-2">{{post.content}}</p>
        <hr class="my-4">
        <h6 class="text-right text-muted">Date and Time is: {{post.timestamp}}</h6>

    </div>
</div>
<div class="container">

    <h2>Comments</h2>
    <form action="/blog/postComment" method="post">
        {%csrf_token%}
  <div class="form-group">
    <label for="comment">Post Comment</label>
    <input type="text" name="comment"  class="form-control" id="comment" aria-describedby="commentHelp" >
  </div>
  <div class="form-group">
           <input type="hidden" name="postSno" value="{{post.post_id}}">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    {% for comment in comments %}
        <div class="row my-3">
        <div class="col-md-2"><img class="rounded mx-auto d-block w-100" src="/static/images/user.jpg" alt="user"></div>
        <div class="col-md-10">
            <p><b>{{comment.user.username}} </b> <i>at</i> {{comment.timestamp}}</p>
            <div class="my-2">{{comment.comment}}</div></div>
    </div>
    {% endfor%}


</div>
{%endblock body%}